<div class="containter text-center">
  <div class="row header">
    <h2>Remaining Balance</h1>
  </div>
  <div class="row price">
    <h1>$15.00</h2>
  </div>
  <div class="row well">
    <p>How many loads? <i>(Washing and Drying)</p>
      <div class="input-group prompt">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <input type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100">
          <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
      </div>
  </div>
</div>