<div class="containter text-center">
  <div class="row header">
    <h2>Remaining Balance</h1>
  </div>
  <div class="row price">
    <h1 ng-model="startingBalance" ng-class="{insufficientFunds: lowFunds === true }">{{balance | currency}}</h2>
  </div>
  <div class="row">
    <p ng-show="lowFunds"><i><b>Low balance. Please <a ng-href="#/refill">reload</a> card.</b></i></p>
  </div>
  <div class="row well" ng-model="laundryInfo">
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user || 'Who Are You?'}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-click="storeUser('Courtney')">Courtney</li>
        <li ng-click="storeUser('Nicole')">Nicole</li>
        <li ng-click="storeUser('Shelley')">Shelley</li>
      </ul>
    </div>
    <p>How many loads? <i>(Washing and Drying)</p>
      <div class="input-group prompt row">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number" ng-click="deleteLoad()">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <input type="text" class="form-control input-number" value="{{loads}}">
          <span class="input-group-btn"> 
              <button type="button" class="btn btn-success btn-number" ng-click="addLoad()">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
      </div>
     <div class="row saveButton">
        <button ladda="loading" ng-click="saveData()" data-style="expand-right" data-spinner-color="#FFFFFF" data-spinner-size="30" ng-disabled="user === null || loads < 1">
          Save
        </button>
     </div>
  </div>
</div>