<div class="containter text-center">
  <div class="row header">
    <h2>How Much Did You Put on the Card?</h1>
  </div>
  <form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="number" class="form-control" ng-model="depositAmount" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
 
   <button ladda="loading" type="submit" ng-click="addCash()" data-style="expand-right" data-spinner-color="#FFFFFF">
   Add Cash
   </button>
</form>
   
</div>