<div class="containter text-center">
  <div class="row header">
    <h2>Spending Reports</h1>
  </div>
  <table ng-table="tableParams" class="table">
                <tr ng-repeat="laundry in laundryData | orderBy:'-$id'">
                    <td data-title="'Date'">{{laundry.date}}</td>
                    <td data-title="'User'">{{laundry.user}}</td>
                    <td data-title="'Loads'">{{laundry.loads || '-'}}</td>
                    <td data-title="'Refill'">{{(laundry.refill | currency) || '-'}}</td>
                    <td data-title="'Cost'">{{(laundry.cost | currency) || '-'}}</td>
                    <td data-title="'Balance'">{{(laundry.balance | currency) || '-'}}</td>
                </tr>
  </table>
</div>
